
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
asyncio
youtube_search
search_engine_parser
Pillow
future
psutil
wget
tswift
pyrogram==2.0.106
tgcrypto>=1.2.0
ffmpeg-python==0.2.0
pytgcalls==2.0.0
aiofiles==23.1.0
