python-dotenv
yt-dlp
youtube_search_python
requests
aiohttp
youtube_search
search_engine_parser
Pillow
future
psutil
wget
tswift
pyrogram==2.0.106
tgcrypto>=1.2.5
ffmpeg-python==0.2.0
pytgcalls==3.0.0.dev24
aiofiles==23.1.0
